/target
**/target
/doc*


# Added by cargo
#
# already existing elements were commented out

#/target

/subprojects
build
builddir
subprojects/blueprint-compiler.wrap

/subprojects/blueprint-compiler
